<div class="container", id="item_container">
  <h2>Create new item</h2>
  <%= simple_form_for [@category,@item], :html => {:multipart => true} do |f| %>
      <%= render partial: "form", locals: {f: f}%>
  <%end%>
</div>



