<div class="panel panel-default" id="left_panel">
  <div class="panel-body">Категории:</div>
    <div class="btn-group-vertical pull-center">
    <p><a href="<%=new_category_path%>" style="margin-left: 1em;">Создать Категорию</a></p>
      <% Category.all.each do |c| %>
        <a href="<%= category_path(c)%>" class="btn btn-primary" role="button"><%=c.name%></a>
      <%end%>
    </div>
</div>
 