  <div class="panel-group" id="right_panel">
    <div class="panel panel-default">
      <div class="panel-body">
        Корзина:
        <p>In progress...</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Сортировка:
         <p>In progress...</p>
      </div>
    </div>
  </div>

 
